[submodule "_plugins/jekyll-only_first_p"]
	path = _plugins/only_first_p/
	url = https://github.com/sebcioz/jekyll-only_first_p.git
[submodule "_plugins/only_first_p"]
	path = _plugins/only_first_p
	url = https://github.com/sebcioz/jekyll-only_first_p.git
