body {
    background-color: #F8F8FF;
    color: #555D50;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.code {
    font-family: "Courier New", Courier, monospace;
}

#main {
/*     width: 61.8%; */
/*     max-width: 80%; */
/*     margin-left: auto; */
/*     margin-right: auto; */
}

a.header {
    margin-top: 0.5em;
    color: black;
    font-size: 110%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

a.header:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.hero-unit {
    padding:60px 60px 80px;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background-color: #DFDFE6;
    border-radius: 12px;
    border: 0px;
}

.container {
    position:relative;
}

.well {
    padding: 20px;
}

h1.hero-unit {
    font-size: 26px;
}

.post span {
    height:300px;
    display:block;
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}