body {
    background-color: #F8F8FF;
    color: #555D50;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.code {
    font-family: "Courier New", Courier, monospace;
}

.hero-unit {
    padding:60px 60px 80px;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background-color: #DFDFE6;
    border-radius: 12px;
    border: 0px;
}

.container {
    position:relative;
}

.well {
    padding: 20px;
}

h1.hero-unit {
    font-size: 26px;
}

h4.well {
    background-color: #C8C8C8;
}

.post span {
    height:300px;
    display:block;
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}