body {
    background-color: #F8F8FF;
    color: #555D50;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.code {
    font-family: "Courier New", Courier, monospace;
}

#main {
    width: 61.8%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.header {
    margin-top: 0.5em;
    color: black;
    font-size: 110%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

a.header:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.hero-unit {
    padding:60px 60px 80px;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background-color: #E3DAC9;
    border-radius: 12px;
    border: 0px;
    margin-left: 19.1%;
    margin-right: 19.1%;
}
